main {
  display: flex;
  justify-content: center
}

.home-banner {
  position: relative;
  max-height: 225px;
  max-width: 1240px;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color:black;

  img {
    object-fit: cover;
    opacity: 0.6;

  }
  
  h1 {
    position: absolute;
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black; ;
  }
}

