* {
  font-family: "Montserrat";
}

span, p {
  color: #FF6060
}



main {
  margin: 150px 0 150px 0;

  span {
    font-size: 260px;
    font-weight: 700;
  }

  p {
    font-size: 36px;
    font-weight: 500;
    margin-top: 120px;
    margin-bottom: 160px
  }
}


a {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 375px) {
  main {
    box-sizing: border-box;
    width: 375px;

    span {
      font-size: 96px;
      margin-top: 100px;
      margin-bottom: 40px;
    }

    p {
      font-size: 18px;
      text-align: center;
      width: 260px;
      line-height: 143%;
      margin-bottom: 180px;
    }

    a {
      font-size: 14px;
      margin-bottom: 160px;
    }
  }
}