@use "./Nav.scss";

header {
  padding: 45px 100px 45px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between
}


@media (max-width: 375px) {

  header {
    box-sizing: border-box;
    gap: 20px;

    img {
      height: 46px;
      width: 145px;
    }

    nav {
      padding-right: 0;
      align-items: center;
      gap: 26px;
      justify-content: flex-end;
  
      a {
        font-size: 12px;
        text-transform : uppercase;
      }
  }
  }
}