.main-lodging {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.information {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.information-main {
    margin-top: 30px;
    align-items: center;
    width: 100%;
}

.title-tags {
    flex: 1;
}

.title-tags h1 {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.title-tags p {
    font-size: 18px;
    color: black;
    margin-top: 5px;
    margin-bottom: 20px;
}

.information-secondary {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.tags-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}

.rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 10px;
}

@media (max-width: 375px) {
    .information {
        flex-direction: column;
    }

    .information-main {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .title-tags {
        height: 70px;
        width: 100%;
    }

    .title-tags h1 {
        font-size: 18px;
        color: #FF6060;
        font-weight: 500;
        margin-bottom: 0;
        width: 100%;
    }

    .title-tags p {
        font-size: 14px;
        margin: 0;
        color: black;
        text-align: start;
        margin: 5px 0 5px 0;
        width: 100%;
    }

    .information-secondary {
        flex-direction: row-reverse;
        margin-top: 0;
        align-items: center;
        margin-bottom: 15px;
        gap: 0;
        width: 100%;
    }

    .rating {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .rating img {
        height: 13px;
        width: 13px;
    }
}