main {
    max-width: 1240px;
    margin: 0 auto;
    flex-direction: column;

    .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .title-host {
        margin-top: 30px;
        align-items: center;

        .lodging-title {
            flex: 1;

            h1 {
                color: #FF6060;
                font-size: 36px;
                font-weight: 500;
                margin: 0;
            }

            p {
                font-size: 18px;
                color: black;
                margin-top: 5px;
                margin-bottom: 0;
            }
        }

        .host-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 200px;
            margin: 0;
        }
    }

    .tags-rating {
        margin-top: 30px;


        .tags-group {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            flex: 1;
        }

        .rating {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 200px;
            gap: 10px;
        }
    }

    .collapse-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 30px;

        .collapse-container {
            flex: 1;
            max-width: 50%;
        }

        .collapse-container .collapse-header span {
            font-size: 18px;
        }

        .collapse-content ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }
    }

}

@media (max-width: 375px) {

    .group,
    .collapse-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .group>*,
    .collapse-container {
        max-width: 100%;
        width: 100%;
    }

    .rating,
    .host-container {
        justify-content: flex-start;
        width: 100%;
    }

    .group.title-host {
        margin-top: 15px;
    }

    .group.title-host .lodging-title h1 {
        font-size: 18px;
    }

    .group.title-host .lodging-title p {
        font-size: 14px;
    }

    .group.title-host .host-container p {
        font-size: 12px;
    }

    .group.title-host .host-container img {
        height: 32px;
        width: 32px;
    }

    .group.tags-rating .tags-group span {
        font-size: 10px;
        height: 20px;
        box-sizing: border-box;
    }

    .rating img {
        height: 16px;
        width: 16px;
    }

    .collapse-section {
        gap: 0;
    }

    .collapse-section .collapse-container {
        width: 100%;
    }

    .collapse-header {
        height: 30px;
        padding: 0 15px 0 15px;
    }

    .collapse-section .collapse-container .collapse-header span {
        font-size: 13px;

    }

    .collapse-section .collapse-container .collapse-header img {
        width: 16px;
        height: 9px;
    }

    .collapse-section .collapse-container .collapse-content.open {
        font-size: 12px;
    }
}
